## 3. Feature Engineering

In Part 1 and Part 2, the following features have been already generated:

1. fico_average 
2. FICO_Score_group
3. term (converted into numerical variable)
4. emp_length (removed string value, converted into numerical variable)
5. credit_policy
6. credit_age
7. as_annual_inc_outlier
8. as_loan_amnt_outlier
9. loan_amnt_bin

In [291]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
#importing ploting libraries
import matplotlib.pyplot as plt
#importing seaborn for statistical plots
import seaborn as sns
#importing ploting libraries
import matplotlib.pyplot as plt
#styling figures
plt.rc('font',size=14)
sns.set(style='white')
sns.set(style='whitegrid',color_codes=True)
#To enable plotting graphs in Jupyter notebook
%matplotlib inline
#importing the feature scaling library
from sklearn.preprocessing import StandardScaler
#Import Sklearn package's data splitting function which is based on random function
from sklearn.model_selection import train_test_split

In [223]:
# Uploading data file
filtered_loans = pd.read_csv('./filtered_part_2_Loan_data.csv')
filtered_loans.head()

,loan_amnt,funded_amnt,term,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,pub_rec_bankruptcies,debt_settlement_flag,loan_status,credit_policy,fico_average,FICO_Score_group,credit_age,as_annual_inc_outlier,as_loan_amnt_outlier,loan_amnt_bin
0,5000.0,5000.0,36,162.87,B,B2,0,10,RENT,24000.0,...,0.0,N,Fully Paid,1,737.0,Good,9830,0,0,"(3000.0, 5000.0]"
1,2500.0,2500.0,60,59.83,C,C4,Ryder,0,RENT,30000.0,...,0.0,N,Charged Off,1,742.0,Very Good,4627,0,0,"(499.999, 3000.0]"
2,2400.0,2400.0,36,84.33,C,C5,0,10,RENT,12252.0,...,0.0,N,Fully Paid,1,737.0,Good,3682,0,0,"(499.999, 3000.0]"
3,10000.0,10000.0,36,339.31,C,C1,AIR RESOURCES BOARD,10,RENT,49200.0,...,0.0,N,Fully Paid,1,692.0,Good,5782,0,0,"(9700.0, 11250.0]"
4,3000.0,3000.0,60,67.79,B,B5,University Medical Group,1,RENT,80000.0,...,0.0,N,Fully Paid,1,697.0,Good,5813,0,0,"(499.999, 3000.0]"

In [224]:
filtered_loans.shape

(42535, 38)

#### 10. grade -  converting to numerical

In [225]:
grade_count = pd.value_counts(filtered_loans['grade']).to_frame()
grade_count.T

           B      A     C     D     E     F    G
grade  12389  10183  8740  6016  3394  1301  512

In [226]:
grade = filtered_loans['grade'].unique()
grade.sort()
grade

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object)

In [227]:
def categorical_to_numeric(filtered_loans):
    for x,e in enumerate(grade):
        filtered_loans['grade'].replace(to_replace=e,value=x,inplace=True)

In [228]:
categorical_to_numeric(filtered_loans)
filtered_loans['grade'].head()

0    1
1    2
2    2
3    2
4    1
Name: grade, dtype: int64

#### 11. subgrade -  converting to numerical

In [229]:
subgrade_count = pd.value_counts(filtered_loans['sub_grade']).to_frame()
subgrade_count.T

,B3,A4,B5,A5,B4,C1,C2,B2,B1,A3,...,F1,F2,F3,F4,F5,G1,G2,G4,G5,G3
sub_grade,2997,2905,2807,2793,2590,2264,2157,2113,1882,1823,...,392,308,236,211,154,141,107,99,86,79

In [230]:
subgrade = filtered_loans['sub_grade'].unique()
subgrade.sort()
subgrade

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1',
       'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2',
       'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2', 'G3',
       'G4', 'G5'], dtype=object)

In [231]:
def categorical_to_numeric(filtered_loans):
    for x,e in enumerate(subgrade):
        filtered_loans['sub_grade'].replace(to_replace=e,value=x,inplace=True)

In [232]:
categorical_to_numeric(filtered_loans)
filtered_loans['sub_grade'].head()

0     6
1    13
2    14
3    10
4     9
Name: sub_grade, dtype: int64

#### 12. loan status -  converting to numerical

In [233]:
filtered_loans['loan_status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [234]:
# Fully Paid loans will be assigend with 1 and Charged Off loans will be 0
filtered_loans['loan_status'] = filtered_loans['loan_status'].apply(lambda x:1 if x=='Fully Paid' else 0)
filtered_loans['loan_status'].unique()

array([1, 0])

#### 13. FICO_Score_group - converting to numerical

In [235]:
fico_groups = filtered_loans['FICO_Score_group'].unique()
fico_groups.sort()
fico_groups

array(['Exceptional', 'Fair', 'Good', 'Very Good'], dtype=object)

In [236]:
def categorical_to_numeric(filtered_loans):
    for x,e in enumerate(fico_groups):
        filtered_loans['FICO_Score_group'].replace(to_replace=e,value=x,inplace=True)

In [237]:
categorical_to_numeric(filtered_loans)
filtered_loans['FICO_Score_group'].head()

0    2
1    3
2    2
3    2
4    2
Name: FICO_Score_group, dtype: int64

#### 13. addr_state -  binning to geolocalizaiton

In [238]:
loans_states = pd.value_counts(filtered_loans['addr_state']).to_frame()

In [239]:
#South_state = TX,OK, AR, LA, MS, AL, GA, FL, TN, SC, NC, KY, VA, WV

In [240]:
#North_state = CT, IL, IN, IA, ME, MA, MI, MN, NH, NJ, NY, OH, PA, RI, VT, WI

In [241]:
#East_state= ME, NH, VT, NY, MA, RI, CT, NJ, PA, DE, MD, DC, MI, OH, IN, IL, WI, WV, VA, NC, TN, KY, SC, GA, AL, MS, FL

#West_state=

#### 14. debt_settlment_flag - convert to numeric

In [242]:
filtered_loans['debt_settlement_flag'].unique()

array(['N', 'Y'], dtype=object)

In [243]:
# Fully Paid loans will be assigend with 1 and Charged Off loans will be 0
filtered_loans['debt_settlement_flag'] = filtered_loans['debt_settlement_flag'].apply(lambda x:1 if x=='Y' else 0)
filtered_loans['debt_settlement_flag'].unique()

array([0, 1])

#### 15. Converting date format to integers

In [244]:
# Extracting the year
filtered_loans['issue_d']= pd.to_datetime(filtered_loans['issue_d']).apply(lambda x: int(x.strftime('%Y')))
filtered_loans['earliest_cr_line']= pd.to_datetime(filtered_loans['earliest_cr_line']).apply(lambda x: int(x.strftime('%Y')))
filtered_loans['last_credit_pull_d']= pd.to_datetime(filtered_loans['last_credit_pull_d']).apply(lambda x: int(x.strftime('%Y')))

#### 16. Removing outliers in funded amnt and annual inc

Outliers will be replaced by median in the following columns: annual_inc, credit_age

In [246]:
# Checking the outliers in dataset
print('Number of outliers in annual_inc: ',filtered_loans[((filtered_loans.annual_inc - filtered_loans.annual_inc.mean()) / filtered_loans.annual_inc.std()).abs() >3]['annual_inc'].count())
print('Number of outliers in credit_age: ',filtered_loans[((filtered_loans.credit_age - filtered_loans.credit_age.mean()) / filtered_loans.credit_age.std()).abs() >3]['credit_age'].count())

Number of outliers in annual_inc:  341
Number of outliers in credit_age:  560

In [247]:
#Replacing the outliers by median in annual income
for col_name in filtered_loans.annual_inc[:-1]:
    q1 = filtered_loans['annual_inc'].quantile(0.25)
    q3 = filtered_loans['annual_inc'].quantile(0.75)
    iqr = q3 - q1
    
    low = q1-1.5*iqr
    high = q3+1.5*iqr
    filtered_loans.loc[(filtered_loans['annual_inc'] < low) | (filtered_loans['annual_inc'] > high), ['annual_inc']] = filtered_loans['annual_inc'].median()

In [248]:
#Replacing the outliers by median in credit age
for col_name in filtered_loans.credit_age[:-1]:
    q1 = filtered_loans['credit_age'].quantile(0.25)
    q3 = filtered_loans['credit_age'].quantile(0.75)
    iqr = q3 - q1
    
    low = q1-1.5*iqr
    high = q3+1.5*iqr
    filtered_loans.loc[(filtered_loans['credit_age'] < low) | (filtered_loans['credit_age'] > high), ['credit_age']] = filtered_loans['credit_age'].median()

In [249]:
# Checking again the outliers
print('Number of outliers in annual_inc: ',filtered_loans[((filtered_loans.annual_inc - filtered_loans.annual_inc.mean()) / filtered_loans.annual_inc.std()).abs() >3]['annual_inc'].count())
print('Number of outliers in credit_age: ',filtered_loans[((filtered_loans.credit_age - filtered_loans.credit_age.mean()) / filtered_loans.credit_age.std()).abs() >3]['credit_age'].count())

Number of outliers in annual_inc:  0
Number of outliers in credit_age:  0

#### 17. Converting bins to numerical values

In [250]:
# replacing bins with numerical values in loan_amnt_bin
loan_amnt_bins = np.array(filtered_loans['loan_amnt_bin'].unique())
loan_amnt_bins.sort()
print(loan_amnt_bins)

['(11250.0, 14000.0]' '(14000.0, 16000.0]' '(16000.0, 22000.0]'
 '(22000.0, 35000.0]' '(3000.0, 5000.0]' '(499.999, 3000.0]'
 '(5000.0, 6000.0]' '(6000.0, 7700.0]' '(7700.0, 9700.0]'
 '(9700.0, 11250.0]']

In [251]:
filtered_loans['loan_amnt_bin'].replace(['(499.999, 3000.0]', '(3000.0, 5000.0]','(5000.0, 6000.0]', '(6000.0, 7700.0]', '(7700.0, 9700.0]', '(9700.0, 11250.0]','(11250.0, 14000.0]', '(14000.0, 16000.0]', '(16000.0, 22000.0]', '(22000.0, 35000.0]'], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], inplace = True)

In [254]:
filtered_loans.head()

,loan_amnt,funded_amnt,term,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,pub_rec_bankruptcies,debt_settlement_flag,loan_status,credit_policy,fico_average,FICO_Score_group,credit_age,as_annual_inc_outlier,as_loan_amnt_outlier,loan_amnt_bin
0,5000.0,5000.0,36,162.87,1,6,0,10,RENT,24000.0,...,0.0,0,1,1,737.0,2,4564.0,0,0,2
1,2500.0,2500.0,60,59.83,2,13,Ryder,0,RENT,30000.0,...,0.0,0,0,1,742.0,3,4627.0,0,0,1
2,2400.0,2400.0,36,84.33,2,14,0,10,RENT,12252.0,...,0.0,0,1,1,737.0,2,3682.0,0,0,1
3,10000.0,10000.0,36,339.31,2,10,AIR RESOURCES BOARD,10,RENT,49200.0,...,0.0,0,1,1,692.0,2,5782.0,0,0,6
4,3000.0,3000.0,60,67.79,1,9,University Medical Group,1,RENT,80000.0,...,0.0,0,1,1,697.0,2,5813.0,0,0,1

#### 18. Create dummy variables

In [255]:
filtered_loans.dtypes

loan_amnt                float64
funded_amnt              float64
term                       int64
installment              float64
grade                      int64
sub_grade                  int64
emp_title                 object
emp_length                 int64
home_ownership            object
annual_inc               float64
verification_status       object
issue_d                    int64
desc                      object
purpose                   object
title                     object
addr_state                object
dti                      float64
delinq_2yrs              float64
earliest_cr_line           int64
inq_last_6mths           float64
open_acc                 float64
pub_rec                  float64
revol_bal                float64
revol_util               float64
total_acc                float64
last_pymnt_amnt          float64
last_credit_pull_d         int64
delinq_amnt              float64
pub_rec_bankruptcies     float64
debt_settlement_flag       int64
loan_status                int64
credit_policy              int64
fico_average             float64
FICO_Score_group           int64
credit_age               float64
as_annual_inc_outlier      int64
as_loan_amnt_outlier       int64
loan_amnt_bin              int64
dtype: object

In [262]:
# Drop columns that will not be used in modelling
loan_main = filtered_loans.drop(['emp_title', 'desc', 'title', 'addr_state'], axis = 1)
loan_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42535 entries, 0 to 42534
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   loan_amnt              42535 non-null  float64
 1   funded_amnt            42535 non-null  float64
 2   term                   42535 non-null  int64
 3   installment            42535 non-null  float64
 4   grade                  42535 non-null  int64
 5   sub_grade              42535 non-null  int64
 6   emp_length             42535 non-null  int64
 7   home_ownership         42535 non-null  object
 8   annual_inc             42535 non-null  float64
 9   verification_status    42535 non-null  object
 10  issue_d                42535 non-null  int64
 11  purpose                42535 non-null  object
 12  dti                    42535 non-null  float64
 13  delinq_2yrs            42535 non-null  float64
 14  earliest_cr_line       42535 non-null  int64
 15  inq_last_6mths         42535 non-null  float64
 16  open_acc               42535 non-null  float64
 17  pub_rec                42535 non-null  float64
 18  revol_bal              42535 non-null  float64
 19  revol_util             42535 non-null  float64
 20  total_acc              42535 non-null  float64
 21  last_pymnt_amnt        42535 non-null  float64
 22  last_credit_pull_d     42535 non-null  int64
 23  delinq_amnt            42535 non-null  float64
 24  pub_rec_bankruptcies   42535 non-null  float64
 25  debt_settlement_flag   42535 non-null  int64
 26  loan_status            42535 non-null  int64
 27  credit_policy          42535 non-null  int64
 28  fico_average           42535 non-null  float64
 29  FICO_Score_group       42535 non-null  int64
 30  credit_age             42535 non-null  float64
 31  as_annual_inc_outlier  42535 non-null  int64
 32  as_loan_amnt_outlier   42535 non-null  int64
 33  loan_amnt_bin          42535 non-null  int64
dtypes: float64(17), int64(14), object(3)
memory usage: 11.0+ MB

In [264]:
# Create dummy variables
loan_main_dummies = pd.get_dummies(loan_main)
loan_main_dummies.head()

,loan_amnt,funded_amnt,term,installment,grade,sub_grade,emp_length,annual_inc,issue_d,dti,...,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,5000.0,5000.0,36,162.87,1,6,10,24000.0,2011,27.65,...,0,0,0,0,0,0,0,0,0,0
1,2500.0,2500.0,60,59.83,2,13,0,30000.0,2011,1.00,...,0,0,0,0,0,0,0,0,0,0
2,2400.0,2400.0,36,84.33,2,14,10,12252.0,2011,8.72,...,0,0,0,0,0,0,0,1,0,0
3,10000.0,10000.0,36,339.31,2,10,10,49200.0,2011,20.00,...,0,0,0,0,0,1,0,0,0,0
4,3000.0,3000.0,60,67.79,1,9,1,80000.0,2011,17.94,...,0,0,0,0,0,1,0,0,0,0

In [266]:
loan_main_dummies.dtypes

loan_amnt                              float64
funded_amnt                            float64
term                                     int64
installment                            float64
grade                                    int64
sub_grade                                int64
emp_length                               int64
annual_inc                             float64
issue_d                                  int64
dti                                    float64
delinq_2yrs                            float64
earliest_cr_line                         int64
inq_last_6mths                         float64
open_acc                               float64
pub_rec                                float64
revol_bal                              float64
revol_util                             float64
total_acc                              float64
last_pymnt_amnt                        float64
last_credit_pull_d                       int64
delinq_amnt                            float64
pub_rec_bankruptcies                   float64
debt_settlement_flag                     int64
loan_status                              int64
credit_policy                            int64
fico_average                           float64
FICO_Score_group                         int64
credit_age                             float64
as_annual_inc_outlier                    int64
as_loan_amnt_outlier                     int64
loan_amnt_bin                            int64
home_ownership_MORTGAGE                  uint8
home_ownership_NONE                      uint8
home_ownership_OTHER                     uint8
home_ownership_OWN                       uint8
home_ownership_RENT                      uint8
verification_status_Not Verified         uint8
verification_status_Source Verified      uint8
verification_status_Verified             uint8
purpose_car                              uint8
purpose_credit_card                      uint8
purpose_debt_consolidation               uint8
purpose_educational                      uint8
purpose_home_improvement                 uint8
purpose_house                            uint8
purpose_major_purchase                   uint8
purpose_medical                          uint8
purpose_moving                           uint8
purpose_other                            uint8
purpose_renewable_energy                 uint8
purpose_small_business                   uint8
purpose_vacation                         uint8
purpose_wedding                          uint8
dtype: object

In [265]:
# Export filtered loan_main_dummies into .csv
exported_data = loan_main_dummies.to_csv('./loan_main_dummies.csv', index = False)

#### 19. Data normalization

In [267]:
loan_main_dummies.isnull().sum()

loan_amnt                              0
funded_amnt                            0
term                                   0
installment                            0
grade                                  0
sub_grade                              0
emp_length                             0
annual_inc                             0
issue_d                                0
dti                                    0
delinq_2yrs                            0
earliest_cr_line                       0
inq_last_6mths                         0
open_acc                               0
pub_rec                                0
revol_bal                              0
revol_util                             0
total_acc                              0
last_pymnt_amnt                        0
last_credit_pull_d                     0
delinq_amnt                            0
pub_rec_bankruptcies                   0
debt_settlement_flag                   0
loan_status                            0
credit_policy                          0
fico_average                           0
FICO_Score_group                       0
credit_age                             0
as_annual_inc_outlier                  0
as_loan_amnt_outlier                   0
loan_amnt_bin                          0
home_ownership_MORTGAGE                0
home_ownership_NONE                    0
home_ownership_OTHER                   0
home_ownership_OWN                     0
home_ownership_RENT                    0
verification_status_Not Verified       0
verification_status_Source Verified    0
verification_status_Verified           0
purpose_car                            0
purpose_credit_card                    0
purpose_debt_consolidation             0
purpose_educational                    0
purpose_home_improvement               0
purpose_house                          0
purpose_major_purchase                 0
purpose_medical                        0
purpose_moving                         0
purpose_other                          0
purpose_renewable_energy               0
purpose_small_business                 0
purpose_vacation                       0
purpose_wedding                        0
dtype: int64

In [273]:
# Checking skewness
skew_loan_main_dummies = loan_main_dummies.skew().round(2)
skew_loan_main_dummies

loan_amnt                                1.06
funded_amnt                              1.09
term                                     1.10
installment                              1.13
grade                                    0.76
sub_grade                                0.77
emp_length                               0.25
annual_inc                               0.54
issue_d                                 -1.23
dti                                     -0.03
delinq_2yrs                              5.44
earliest_cr_line                        -1.16
inq_last_6mths                           3.45
open_acc                                 1.04
pub_rec                                  4.61
revol_bal                               11.01
revol_util                              -0.04
total_acc                                0.82
last_pymnt_amnt                          2.75
last_credit_pull_d                      -0.79
delinq_amnt                            206.23
pub_rec_bankruptcies                     4.52
debt_settlement_flag                    16.21
loan_status                             -1.95
credit_policy                           -3.54
fico_average                             0.46
FICO_Score_group                        -0.45
credit_age                               0.34
as_annual_inc_outlier                   11.03
as_loan_amnt_outlier                     7.44
loan_amnt_bin                            0.01
home_ownership_MORTGAGE                  0.22
home_ownership_NONE                     72.90
home_ownership_OTHER                    17.60
home_ownership_OWN                       3.19
home_ownership_RENT                      0.10
verification_status_Not Verified         0.24
verification_status_Source Verified      1.20
verification_status_Verified             0.79
purpose_car                              4.84
purpose_credit_card                      2.22
purpose_debt_consolidation               0.14
purpose_educational                      9.89
purpose_home_improvement                 3.22
purpose_house                            9.84
purpose_major_purchase                   3.93
purpose_medical                          7.31
purpose_moving                           8.04
purpose_other                            2.59
purpose_renewable_energy                19.96
purpose_small_business                   4.29
purpose_vacation                        10.17
purpose_wedding                          6.28
dtype: float64

- Few features are very highly skeweed, therefore, normalization will be performed.

In [279]:
# Scaling the features
loan_main_dummies_z = loan_main_dummies.apply(zscore)
loan_main_dummies_z=pd.DataFrame(loan_main_dummies_z,columns=loan_main_dummies.columns)

In [299]:
loan_main_dummies_z.head()

,loan_amnt,funded_amnt,term,installment,grade,sub_grade,emp_length,annual_inc,issue_d,dti,...,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,-0.821731,-0.814569,-0.590645,-0.764644,-0.466389,-0.622967,1.442745,-1.412142,0.795288,2.122578,...,-0.285175,-0.100581,-0.239694,-0.134246,-0.122514,-0.340751,-0.049983,-0.22166,-0.097434,-0.155482
1,-1.159074,-1.164374,1.693064,-1.257836,0.228822,0.366964,-1.328770,-1.170964,0.795288,-1.839520,...,-0.285175,-0.100581,-0.239694,-0.134246,-0.122514,-0.340751,-0.049983,-0.22166,-0.097434,-0.155482
2,-1.172567,-1.178366,-0.590645,-1.140569,0.228822,0.508382,1.442745,-1.884367,0.795288,-0.691775,...,-0.285175,-0.100581,-0.239694,-0.134246,-0.122514,-0.340751,-0.049983,4.51142,-0.097434,-0.155482
3,-0.147044,-0.114958,-0.590645,0.079871,0.228822,-0.057292,1.442745,-0.399197,0.795288,0.985240,...,-0.285175,-0.100581,-0.239694,-0.134246,-0.122514,2.934694,-0.049983,-0.22166,-0.097434,-0.155482
4,-1.091605,-1.094413,1.693064,-1.219736,-0.466389,-0.198711,-1.051618,0.838846,0.795288,0.678977,...,-0.285175,-0.100581,-0.239694,-0.134246,-0.122514,2.934694,-0.049983,-0.22166,-0.097434,-0.155482

In [292]:
# Export filtered loan_main_dummies into .csv
exported_data = loan_main_dummies_z.to_csv('./loan_main_dummies_z_score.csv', index = False)